@import "./core/variables";

.form-group {
  margin: $field-spacing 0;
  &.has-error {
    &,
    label {
      color: $error-color;
    }
  }
}
label {
  display: inline-block;
  color: $field-label-color;
  font-size: $field-label-size;
  margin-bottom: calc(#{$field-spacing}/ 2.3);
}
